@import url("reset.css");
input {
  border-radius: 5px; }

select {
  border-radius: 5px;
  background-color: white; }

body {
  position: relative;
  line-height: 1.5em;
  color: #333;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  z-index: 0;
  background-image: url("/images/pattern.png"); }

#head {
  position: absolute;
  float: left;
  height: 66.66667px;
  border: 1px solid #292929;
  z-index: 1;
  background: #292929;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(0%, #3c3c3c), to(#292929)); }

#wrapper {
  height: 15px;
  width: auto;
  border: 10px black; }

#container {
  margin-right: auto;
  margin-left: auto;
  width: 960px; }

#header {
  position: relative;
  float: left;
  width: 960px;
  height: 500px; }

#header-cont {
  height: 257px;
  width: auto;
  float: left;
  top: 5px;
  position: relative;
  background: transparent;
  z-index: 2;
  margin: 0 auto; }

#header-cont-small {
  position: fixed;
  top: 0;
  left: 0;
  background: #515151;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #515151 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(5%, #3c3c3c), to(#515151));
  color: white;
  width: 100%;
  z-index: 100;
  height: 40px; }

#menu {
  position: relative;
  float: left;
  clear: both;
  height: 180px;
  width: 200px;
  top: 15px;
  background-image: url("images/pattern.png"); }

.menu-cont {
  position: relative;
  width: 182px;
  height: 84px;
  padding: 2px;
  left: 8px;
  top: 5px; }

.menu-cont li {
  box-shadow: 0px 0px 3px #333333;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  display: inline-block;
  padding: 3px;
  padding-top: 0px;
  position: relative;
  -webkit-transition-duration: 0.9s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  transition-duration: 0.9s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden; }

.menu-cont li:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg); }

#opt12 {
  top: 5px; }

#opt34 {
  top: 10px; }

#opt1 {
  background: url("/images/icons/gallery.png") center no-repeat; }

#opt2 {
  background: url("/images/icons/tutorials.png") center no-repeat;
  left: 10px;
  top: 0px; }

#opt3 {
  background: url("/images/icons/following.png") center no-repeat;
  left: 0px;
  top: 0px; }

#opt4 {
  background: url("/images/icons/public.png") center no-repeat;
  left: 10px;
  top: 0px; }

.top-bar-menu {
  float: left;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 230px;
  top: 4px;
  z-index: 2; }

.top-bar-menu li > span {
  color: grey;
  position: relative;
  left: 8px;
  top: 7px;
  display: inline;
  float: left; }

.top-bar-menu li a, .nav li {
  float: left; }

.top-bar-menu li {
  list-style: none;
  position: relative;
  background: transparent;
  display: inline;
  float: left;
  padding-right: 20px; }

.top-bar-menu li a img {
  text-decoration: none;
  text-align: center;
  color: #f5f6f5;
  background: #292929;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(0%, #3c3c3c), to(#292929));
  font-size: 14px;
  margin-left: 0px;
  padding: 5px 10px 5px 10px;
  display: inline;
  width: 24px;
  height: 24px; }

.top-bar-menu li a img:hover {
  background: #515151;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #515151 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(5%, #3c3c3c), to(#515151));
  color: white;
  border-radius: 20px; }

.top-bar-menu li p {
  position: relative;
  float: left;
  display: inline;
  text-align: center;
  line-height: 35px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px; }

#logo {
  background-image: url(/images/logo.jpg);
  background-repeat: no-repeat;
  width: 200px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 5px;
  box-shadow: 0px 0px 10px #333333;
  border: 1px solid grey;
  border-radius: 10px;
  z-index: 2; }

.logo {
  background-image: url(/images/logo.jpg);
  background-repeat: no-repeat;
  width: 200px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 5px;
  box-shadow: 0px 0px 10px #333333;
  border: 1px solid grey;
  border-radius: 10px;
  z-index: 2; }

#logo-small {
  position: fixed;
  top: 0;
  left: 5px;
  background-image: url(/images/logo_mic.png);
  background-repeat: no-repeat;
  width: 100%;
  z-index: 3;
  height: 40px; }

.fixedBar {
  position: fixed;
  top: 3px;
  left: 120px;
  z-index: 3;
  float: left;
  display: inline;
  position: relative; }

.fixedBar li p {
  position: relative;
  float: left;
  display: inline;
  text-align: center;
  line-height: 35px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px; }

.fixedBar li {
  display: inline;
  position: relative;
  float: left;
  padding-right: 20px; }

.fixedBar li img {
  display: inline;
  position: relative;
  float: left;
  width: 28px;
  height: 28px;
  top: 2px; }

.view {
  overflow: hidden;
  cursor: default; }

.view .mask {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.view img {
  display: block;
  position: relative; }

.view h2 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: green;
  margin: 20px 0 0 0; }

.view p {
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center; }

/*
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}*/
.header-divs {
  position: absolute;
  left: 230px;
  top: 40px;
  width: 708px;
  height: 412px;
  box-shadow: 0px 3px 15px #333333;
  border-radius: 20px;
  z-index: 2; }

.header-divs-anim img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.header-divs-anim .mask {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateX(-483px);
  -moz-transform: translateX(-483px);
  -o-transform: translateX(-483px);
  -ms-transform: translateX(-483px);
  transform: translateX(-483px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.header-divs-anim h2 {
  background: rgba(255, 255, 255, 0.7);
  color: red;
  -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
  box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5); }

.header-divs-anim p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: #f5f6f5;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.header-divs-anim:hover .mask {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

.header-divs-anim:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 15; }

.frames {
  background: #292929;
  position: absolute;
  z-index: 4; }

#frame1 {
  width: 24px;
  left: -40px;
  top: -16px;
  height: 16px; }

#frame2 {
  height: 24px;
  width: 16px;
  left: -16px;
  top: -40px; }

#frame3 {
  width: 24px;
  left: 975px;
  top: -16px;
  height: 16px; }

#frame4 {
  height: 24px;
  width: 16px;
  left: 960px;
  top: -39px; }

#frame5 {
  width: 24px;
  left: -40px;
  height: 16px; }

#frame6 {
  height: 24px;
  width: 16px;
  left: -16px; }

#frame7 {
  width: 24px;
  left: 975px;
  height: 16px; }

#frame8 {
  height: 24px;
  width: 16px;
  left: 960px; }

#lorem p {
  padding: 20px 50px 10px 50px; }

#content {
  position: relative;
  float: left;
  width: 960px;
  left: -16px;
  height: auto;
  background: #fff;
  border: 16px solid #292929;
  box-shadow: 0px 0px 10px #333333; }

#footer {
  position: relative;
  float: left;
  top: 175px;
  height: 66.66667px;
  border: 1px solid #292929;
  background: #292929;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(0%, #3c3c3c), to(#292929)); }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 40px;
  right: 60px;
  display: none;
  text-indent: -9999px;
  background: url("/images/icon_top.png") no-repeat; }

#login {
  position: relative; }

#lorem {
  position: relative;
  float: left; }

.edit {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  z-index: 1001;
  clear: both;
  background: #515151;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #515151 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(5%, #3c3c3c), to(#515151));
  height: 42px; }

.brightness {
  position: relative;
  display: inline;
  color: white;
  font-size: 12px;
  padding-right: 8px;
  padding-left: 8px; }

.editUL {
  float: left;
  display: inline;
  position: relative;
  top: 8px; }

.editUL li {
  display: inline;
  position: relative;
  width: 22px;
  height: 22px; }

.editUL li img {
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px; }

.editUL li a {
  cursor: default; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  color: grey;
  background: #292929;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(0%, #3c3c3c), to(#292929)); }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

.close:hover {
  background: #00d9ff; }

.btn {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, black, #8c8c8c 1px, #3c3c3c 25px);
  background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(0%, #8c8c8c), to(#3c3c3c));
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  color: #f5f6f5;
  border: 0px solid grey;
  position: relative;
  font-size: 14px;
  left: 10px; }

#loginUL li {
  padding-bottom: 5px;
  position: relative;
  top: 15px;
  left: 30px; }

#gallery {
  position: relative;
  left: 30px; }

.imgAnch {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0;
  overflow: hidden;
  height: 200px;
  border: 1px solid #d7d7d7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 6px #ddd;
  -moz-box-shadow: 1px 1px 6px #ddd;
  box-shadow: 0px 0px 10px #333333;
  border: 1px solid grey;
  border-radius: 10px;
  width: 200px;
  margin: 10px; }

.imgAnch a > img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

#avatar {
  position: relative;
  float: left;
  display: inline; }

#profile {
  position: relative;
  float: left;
  height: 400px;
  width: 960px;
  display: inline; }

#profile #avatarEdit {
  height: 32px;
  width: 32px;
  font-size: 20px;
  left: 200px;
  position: relative;
  top: 0px;
  clear: both;
  float: left;
  opacity: 0.7; }

#profile #avatarEdit:hover {
  opacity: 1; }

#avatar #avatarPic {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  background-color: red;
  left: 40px;
  top: 60px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 6px #ddd;
  -moz-box-shadow: 1px 1px 6px #ddd;
  box-shadow: 0px 0px 10px #333333;
  border: 1px solid grey;
  border-radius: 10px;
  clear: both; }

#avatar #vezi {
  position: relative;
  float: left;
  left: 100px;
  top: 70px;
  clear: both; }

#user {
  top: 60px;
  position: relative;
  list-style: none;
  text-decoration: none;
  float: left;
  left: 150px; }

#user li {
  float: left;
  clear: both;
  font-size: 18px; }

#user li p {
  float: left;
  display: inline;
  position: relative;
  text-align: left;
  width: 100px; }

#user .plong {
  width: 450px; }

#user li img {
  float: left;
  position: relative;
  bottom: 7px;
  width: 15px;
  height: 15px; }

.editProfile {
  top: 60px;
  float: right;
  right: 30px;
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.7; }

.editProfile:hover {
  opacity: 1; }

.userprofile {
  text-decoration: none;
  color: #292929; }

::-webkit-scrollbar {
  width: 10px;
  height: 13px; }

::-webkit-scrollbar-button:vertical {
  background-color: silver;
  border: 1px solid gray; }

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block; }

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none; }

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:vertical:increment {
  display: none; }

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:vertical:decrement {
  display: none; }

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:horizontal:increment {
  display: none; }

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:horizontal:decrement {
  display: none; }

::-webkit-scrollbar-track:vertical {
  background-color: blue;
  border: 1px dashed pink; }

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
  border: 0px; }

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
  border: 0px; }

/* Track below and above */
::-webkit-scrollbar-track-piece {
  background-color: silver; }

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: gray; }

/* The thumb itself */
::-webkit-scrollbar-thumb:horizontal {
  height: 50px;
  background-color: gray; }

/* Corner */
::-webkit-scrollbar-corner:vertical {
  background-color: black; }

/* Resizer */
::-webkit-scrollbar-resizer:vertical {
  background-color: gray; }

#searchInput {
  color: gray;
  position: relative;
  top: -10px; }

#imageWrapper {
  position: relative;
  border: 5px solid transparent;
  left: -10px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  background: transparent;
  float: left; }

#modalImage {
  vertical-align: middle;
  border-radius: 10px; }

#commentWrapper {
  position: relative;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  background-color: #2a2a2a;
  background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
  background: -webkit-gradient(linear, left top, left 120, from(black), color-stop(0%, grey), to(#292929));
  opacity: 1;
  float: left; }

#smallAvatarWrapper {
  position: relative;
  border: 1px solid transparent;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  background: white;
  opacity: 1;
  float: left;
  left: 12px;
  top: 12px; }

#descriptionWrapper {
  position: relative;
  border: 1px solid transparent;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  background: transparent;
  opacity: 1;
  float: left;
  color: #292929;
  top: 12px; }

#commentContent {
  overflow-y: scroll;
  position: relative;
  border: 1px solid transparent;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  background: transparent;
  opacity: 1;
  float: left;
  color: transparent;
  top: 35px; }

#viewImageDiv {
  width: 800px;
  height: 800px; }

#comentariu {
  float: left;
  position: relative;
  top: 30px;
  left: 10px;
  font-size: 11px; }

.editLabel {
  text-align: left;
  float: left;
  width: 200px; }

.editInputLabel {
  float: left;
  background-color: #fffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px; }

.signupInput {
  float: left;
  background-color: #fffff;
  border: 1px solid #dbdbdb;
  width: 200px;
  border-radius: 5px; }

.modalP {
  position: relative;
  font-size: 19px;
  padding-bottom: 30px; }

.comment {
  width: auto;
  margin: 0;
  margin-bottom: 2px;
  left: -1px;
  background: -webkit-gradient(linear, left top, left 80, from(black), color-stop(0%, #3c3c3c), to(#292929));
  padding-bottom: 25px; }

.commentSpan {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left; }

#tutorial {
  position: relative;
  text-align: justify;
  padding: 40px;
  margin: 10px;
  text-indent: 40px; }

#tutorial h1 {
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 10px; }

#tutorial h2 {
  font-size: 18px;
  margin-top: 20px; }

.tutsWork {
  left: 30px; }

.nrFramed {
  position: relative;
  float: left;
  left: 50px;
  top: 10px; }

.pFramed {
  position: relative;
  float: left;
  left: 20px;
  top: 12px;
  font-size: 20px; }

#mention {
  font-size: 12px;
  clear: right;
  left: 0; }

#contestUpload {
  width: 150px;
  text-align: left;
  left: 0;
  float: right; }

#frameSpan {
  position: relative;
  float: left;
  width: 60px;
  height: 20px;
  top: 20px;
  left: 60px; }

#frameWrap {
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
  left: 10px;
  margin-left: 10px; }

#frameNo {
  float: left;
  position: relative;
  left: 15px; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

#table {
  border: 1px solid #DFDFDF;
  background-color: #F9F9F9;
  width: 90%;
  padding: 10px;
  margin: 50px;
  margin-top: 20px;
  color: #333; }

#table td, #table th {
  border-top-color: white;
  border-bottom: 1px solid #DFDFDF;
  color: #555; }

#table th {
  padding: 7px 7px 8px;
  text-align: center;
  line-height: 1.3em;
  font-size: 14px; }

#table td {
  font-size: 16px;
  padding: 4px 7px 2px;
  vertical-align: top;
  text-align: center; }

#table td img {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  padding: 0 10px 0 10px; }

.tutSpan {
  color: black;
  padding-left: 50px;
  float: left; }

#errorImg {
  position: relative;
  float: left;
  left: 100px;
  top: 100px; }

#errorText {
  position: relative;
  float: left;
  left: 200px;
  top: 150px;
  font-size: 22px;
  color: black;
  text-align: justify; }
